*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font_primary_color: #fbc050;
    --font_second_color:#fff;
    --bg_dark_color: #222;
    --font_a_color: rgb(206, 139, 15);
}

html{
    font-size: 16px;
    font-family: sans-serif;

}

body{
    background-color: #222;
    color: var(--font_second_color);
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    font-style: italic;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: transparent;
    z-index: 100;
}

.container_header .logo .logo_title{
    font-family: 'Lobster', cursive;
    color: var(--font_a_color);
}

.container_header nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    padding: 0 1rem;
    color: var(--font_a_color);    
}

.container_header,
.container_portada{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container_header > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

header{
    position: relative;
}

header .container_portada{
    position: relative;
}

header .container_portada::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, .2);
}

.container_portada .portada_info{
    position: absolute;
    padding: 1rem 1rem;
    width: 100%;
    top: 40%;
    left: 0;
    font-style: italic;
    font-size: 1.3rem;
}

.container_portada .portada_info b{
    color: var(--font_a_color);
}

/*SECCIONES*/

.section{
    border: 1px solid #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.main_attractives{
    width: 100%;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: min-content;
}

.main_attractives > h2{
    font-size: 1.5rem;
    font-style: italic;
    padding: 2rem 0;
    text-transform: uppercase;
}

.main_attractives > h2 > span{
    color: var(--font_primary_color);
}

.main_attractives .info_attractives{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info_attractives .info_attractives_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.info_attractives .info_attractives_text h2{
    padding-bottom: 1rem;
    color: var(--font_primary_color);
}

.info_attractives .info_attractives_text p{
    line-height: 1.5rem;
}

.info_attractives img{
    width: 100%;
    height: 100%;
    align-items: center;
}

.main_location_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main_location_info figure img{
    width: 100%;
    padding: 2rem;
}

.info_location{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.info_location h2{
    padding-bottom: 2rem;
    color: var(--font_primary_color);
}

.info_location p{
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.info_location span{
    color: var(--font_primary_color);
}

.main_location_info figure > img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .main_attractives .info_attractives{
        grid-template-columns: 1fr;
    }

    .main_location_info{
        grid-template-columns: 1fr;
    }
}